
 .navbar{
      background-color: rgb(36, 7, 63);
      
  }
  .nav-img{
      height: 50px;
      width: 50px;
  }
  .nav-title{
      font-size: 40px;
      color: #dddddd;
      display: flex;
      justify-content: center;
  }
  .nav-items > a{
      text-decoration: none;
      color: white;
      padding: 10px;
       
  }


  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000000;
}

body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 0.8px;
  font-size: 17px;
  border: 1px solid black;
  float: left;
  width: 70%;
  background: white;
}

form.example button {
  float: left;
  width: 25%;
  padding: 14px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: black;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

footer > span{
  background-color: black;
  display: flex;
   padding: 10px;
   color: white;
}
footer > span > a{
  color: white;
  padding: 10px;
}

.copyright{
  position: relative;
  left:76%
}

.buying{
  padding-left: 450px;
  padding-right: 450px;
}
.buydiv{
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;

}

.img >img{
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 400px;
  height: 300px;
}
.buybtn{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  color: white;
}
.buybtn:active{
  background-color: black;
}
.buybtn:focus{
  background: black;
}
#ans{
  text-align: center;
  font-weight: bolder;
}
.main_market{
  padding: 20px;
}

.para_index{
  text-align: start;
  padding: 20px;
}
section{
  padding: 20px;
}

.main_content{
  padding: 30px;
}
